.centrar {
  text-align: center;
  margin-top: 40px;
}
span { 
  font-family: Ubuntu; /*titulo*/
    color: #333333;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

p {
  font-family: Poppins;
  font-size: 0.8rem;
}
label {
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: ubuntu;
  
}


input {
  font-family: Poppins;
  font-size: 0.8rem;
}
small{
  font-family: Poppins;
  font-size: 0.7rem;
}

option {
  
  font-family: Poppins;
  font-size: 0.8rem;

}
.form-select{
  font-family: Poppins;
  font-size: 0.8rem;
  
 
}

.btn{
  background-color:#333333 ;
  color: #FEC935;
}