
<div class="centrar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style="color: #FEC935;">people</mat-icon>
  </button>
  <span>Unete a la familia</span>
  <p>Registrate y sé uno de los primeros en enterarte de las promociones y novedades</p>
  <span class="example-spacer"></span>
  <br>
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="form-group">
          <label for="nombre">Nombres:</label>
          <input
          type="text" 
          class="form-control" 
          formControlName= "nombre"
          [class.is-invalid]= "nombreNoValido"
          placeholder="Ingrese su nombre..."
          >
          <small class="text-danger" *ngIf= "nombreNoValido">
            Ingrese un nombre valido de solo letras
          </small>
        </div>
        <br>

        <div class="form-group">
          <label for="apellido">Apellidos:</label>
          <input
          type="text" 
          class="form-control"
          formControlName= "apellido"
          placeholder="Ingrese sus apellidos..." 
          [class.is-invalid]= "apellidoNoValido">
          <small class="text-danger" *ngIf= "apellidoNoValido">
            Ingrese un apellido valido de solo letras
          </small>
        </div>
        <br>

        <div class="form-group">
          <label for="email">Correo:</label>
          <input
          type="email" 
          class="form-control"
          formControlName= "email"
          [class.is-invalid]= "correoNoValido"
          placeholder="...@gmail.com"
          >
          <small class="text-danger" *ngIf= "correoNoValido">
            Ingrese un email correcto
          </small>
        </div>
        <br>

        <div class="input-group mb-3">
          <input 
          formControlName= "celular" 
          type="text" 
          class="form-control"
          [class.is-invalid]= "celularoNoValido"
          placeholder="Celular..." aria-label="celular"
          >
          
          <label class="input-group-text" for="inputGroupSelect01">Ciudad:</label>
          <select class="form-select" id="inputGroupSelect01">
            <option value="Cochabamba">Cochabamba</option>
            <option value="Santa cruz">Santa cruz</option>
            <option value="La Paz">La Paz</option>
            <option value="Tarija">Tarija</option>
            <option value="Beni">Beni</option>
            <option value="Pando">Pando</option>
            <option value="Oruro">Oruro</option>
            <option value="potosi">potosi</option>
            <option value="Sucre">Sucre</option>
          </select> 
        </div>
          
        

        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <input 
          formControlName= "mensaje"
          type="text" class="form-control"
          [class.is-invalid]= "mensajeoNoValido"
          placeholder="Ingrese un mensaje...">
          <small class="text-danger" *ngIf= "mensajeoNoValido">
            Solo permite letras y numeros
          </small>
        </div>
        <br>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn" type="button" [disabled]="forma.invalid">Enviar</button>
        </div>
    
      </form>

    </div>
  </div>

</div>


