.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.centrar {
  text-align: center;
  margin-top: 40px;
}

span{
  
    font-family: Ubuntu; /*titulo*/
    color: #333333;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    
  
}
mat-label{

  color: black;
  font-weight: 500;
  font-family: Poppins; /*cuerpo*/
}
.izq {
  text-align: center;
}

 mat-raised-button {
  background-color: #FEC935;
  font-family: Poppins;
}

th{
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: ubuntu;
}

td{
  font-family: Poppins;
  font-size: 0.8rem;
}

.pointer {
  cursor: pointer;
}

.icono-1 {
  color: #FEC935;
}

.icono-2 {
  color: #333333;
}


